@{
    ViewBag.Title = "Login to Tracking Bon Putih";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 style="align-content:center;margin:0 auto">@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <form method="post" action="">
        <label>Username</label>
        <input type="text" id="username"></input>
        <label>Password</label>
        <input type="text" id="password"></input>
        <br />
        <input type="submit" id="submitLogin" value="Log In"/>
    </form>
</section>
