<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
             <link rel="stylesheet" href="~/css/metro-bootstrap.css"/>
            <link rel="stylesheet" href="~/css/metro-bootstrap-responsive.css" />

            <link rel="stylesheet" href="~/css/iconFont.css" />
            <link rel="stylesheet" href="~/css/docs.css" />
            <link rel="stylesheet" href="~/js/prettify/prettify.css" />
            <!-- Load JavaScript Libraries -->
            <script src="~/js/jquery/jquery.min.js"></script>
            <script src="~/js/jquery/jquery.widget.min.js"></script>
            <script src="~/js/jquery/jquery.mousewheel.js"></script>
            <script src="~/js/prettify/prettify.js"></script>
            <!-- Metro UI CSS JavaScript plugins -->
            <script src="~/js/load-metro.js"></script>
            <!-- Local JavaScript -->
            <script src=""></script>
            <script src="~/js/github.info.js"></script>
            <script src="~/js/metro.min.js"></script>
            <script src="~/js/hitua.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body class="metro">

            <nav class="navigation-bar" style="height:50px">
    <nav class="navigation-bar-content">
    <img class="element" src="~/Images/Isuzu_logo.png" width="150px" height="60px" style="margin-top:8px;margin-right:0px" />
    <div class="element">
    <h3 style="margin-top:0px;color:#ffffff">Sistem Tracking Bon Putih PT IAMI</h3>
    </div>
 
     
    <div class="element place-right">
    <a class="dropdown-toggle" href="#">
    <span class="icon-cog"></span>
    </a>
    <ul class="dropdown-menu place-right" data-role="dropdown">
    <li><a href="#">Products</a></li>
    <li><a href="#">Download</a></li>
    <li><a href="#">Support</a></li>
    <li><a href="#">Buy Now</a></li>
    </ul>
    </div>
   
    <span class="element-divider place-right"></span>
    <button class="element image-button image-left place-right">
    Sergey Pimenov
    <img src="~/Images/windows_modern_logo.png"/>
    </button>
    </nav>
    </nav>

        <div class="container" style="margin-left:20px;margin-top:20px">
    <div style="float:left;width:260px">
        <nav class="sidebar light">
        <ul>
            <li class="title">Menu Utama</li>
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#" /><i class="icon-cog"></i>Manajemen User</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="">Tambah User</a></li>
                    <li><a href="">List User</a></li>
                </ul>
            </li>
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#"><i class="icon-home"></i>Manajemen Departemen</a>
            
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="">Tambah Departemen</a></li>
                    <li><a href="">List Departemen</a></li>
                </ul>
            </li>
            
             <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>Manajemen Pos & Rules</a>
            
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="">List Post & Rules</a></li>
                </ul>
            </li>
     
            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#">Manajemen Data</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="">Input Bon Putih</a></li>
                    <li><a href="">Print Barcode</a></li>
                    <li><a href="">Tracking Data</a></li>
                    <li><a href="">Print Surat Pengantar</a></li>
                    <li><a href="">Report</a></li>
                </ul>
            </li>

            <li class="stick bg-blue">
                <a class="dropdown-toggle" href="#">POS</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="">General Affairs</a></li>
                    <li><a href="">HRD</a></li>
                    <li><a href="">Budget</a></li>
                    <li><a href="">Accounting</a></li>
                    <li><a href="">Treasury</a></li>
                    <li><a href="">Closing</a></li>
                    <li><a href="">Archiving</a></li>
                </ul>
            </li>
        </ul>
     </nav>
    </div>
            </div>
        <div id="content" style="float:left"> 
            @RenderBody()
        </div>
</body>
</html>
