@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

        <h2 style="color:blue"> @ViewBag.Title - Sistem Tracking Bon Putih </h2>
        <br style="height:100px" />
        <p>Selamat datang di Sistem Tracking Bon Putih PT. Isuzu Astra Motor Indonesia.</p>
        <p>Sistem ini dibangun untuk mempermudah proses tracking terhadap Bon Putih PT. IAMI</p>
        <p>Untuk memulai, silahkan gunakan menu di bagian kiri halaman web</p>
        <br /><br /><br />

        <p>Credit :</p>
        <ol>
            <li>Hatta Bagus - AGIT Team (Creator)</li>
            <li>Astandro K. - IF ITS Surabaya (Developer)</li>
            <li>Yoga Pratama A. - IF ITS Surabaya (Developer)</li>
        </ol>
        <p>Dedicated for :</p>
        <img src="~/Images/Isuzu_logo.png" width="250px" height="80px" />