@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <div style="width:100%;float:left;margin-left:100px">

        <h2> Ini adalah halaman @ViewBag.Title </h2>

        

    </div>
</div>
